@media only screen and (width > 320px) {
    html  {
    font-size: 1.2rem;
    }
}

@media only screen and (width > 820px) {
    html  {
    font-size: 1.4rem;
    }
    .bayan {
        width: 70% !important;
        height: 40vh;
    }
}

@media only screen and (width > 1920px) {
    html  {
    font-size: 1.7rem;
    }
    .bayan {
        width: 50% !important;
        height: 90vh;
    }
}

@media (hover: hover)  {
    .acc__input:hover ~ .acc__label .acc__content  {
        content: "";
        max-height: 10rem;
        display: block;
    }

    .acc__label:hover:after {
        /* content: "";
        position: absolute;
        top: 10px;
        transform: translateY(-50%);
        right: 20px;
        width: 12px;
        height: 6px;
        background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23004cff99;" /></svg>');
        background-size: contain;
        transition: transform 0.4s; */
        
      }

      .acc__label:hover {
        background: #ff6a00;
    }
    img:hover {
        transform: skew(30deg, 20deg);
        transition: 0.5s
    }
    
    .bayan:hover * {
        cursor: pointer;
        color: green;
        transition: all 0.3s ease-in-out;
    }
 }

.bayan {
    margin: auto;
    width: 90%;
    background-color: #22cf12;
    height: 90vh;
}

.acc__content {
    background-color: rgb(255, 255, 255);
    max-height: 0;
    transition: all 1s ease-in-out;
    overflow: hidden;
}

.acc__input {
    display: none;
}

.acc__label {
    display: block;
    padding: 1vh 2vh;
    margin-top: 0.1em;
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: #ff0202;
    transition: ease 0.5s;
    position: relative;
}

.acc__label:active {
    opacity: 0.2;
}

  .acc__input:checked ~ .acc__label:after {
    transform: translateY(-50%) rotate(0.5turn);
  }

.acc__input:checked ~ .acc__label .acc__content  {
    content: "";
    max-height: 10rem;
    display: block;
}

.acc__input:checked ~ .acc__label {
    color: green;
}

p, h1, .acc__label {
    text-align: left;
    padding-left: 2rem;
    color: red;
    font-weight: bold;
}

img {
    display: block;
    margin: auto;
    max-height: 10rem;
    width: auto;
}
