@media only screen and (width > 320px) {
    html  {
    font-size: 1.1rem;
    }
}

@media only screen and (width > 820px) {
    html  {
    font-size: 1.2rem;
    }
    .bayan {
        width: 70% !important;
    }
}

@media only screen and (width > 1920px) {
    html  {
    font-size: 1.3rem;
    }
    .bayan {
        width: 50% !important;
    }
}

@media (hover: hover)  {
    .acc__input:hover ~ .acc__label .acc__content  {
        max-height: 10rem;
        display: block;
    }

    .meme:hover {
        transform: skew(20deg, 360deg);
        transition: 0.5s ease-in-out;
    }
    
    .bayan:hover * {
        cursor: pointer;
        color: green;
        transition: all 0.3s ease-in-out;
    }

    .bayan:hover * .icon {
        display: inline;
    }

    .acc__input:hover ~ .acc__label .text .icon  {
        transform: rotate(900deg);
        transition: 0.5s;
        display: inline;
    }
 }

 body {
    font-family: "Sofia", sans-serif;
    font-size: 1rem;
  }

 .acc__input:checked ~ .acc__label .text .icon  {
    transform: rotate(900deg);
}

.bayan {
    margin: auto;
    width: 80%;
    background-color: #22cf12;
}

.acc__content {
    background-color: rgb(255, 255, 255);
    max-height: 0;
    transition: all 1s ease-in-out;
    overflow: hidden;
}

.acc__input {
    display: none;
}

.acc__label {
    display: block;
    padding: 1vh 2vh;
    margin-top: 0.1em;
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: #ff0202;
    transition: ease 0.5s;
}

.acc__label:active {
    opacity: 0.2;
}

.acc__input:checked ~ .acc__label .acc__content  {
    content: "";
    max-height: 10rem;
    display: block;
}

.acc__input:checked ~ .acc__label {
    color: green;
}

p, h2, .acc__label {
    text-align: left;
    padding-left: 2rem;
    color: red;
    font-weight: bold;
    padding-bottom: 0;
}

h2 {
    color: green !important;
}

.meme {
    display: block;
    margin: auto;
    max-height: 9rem;
    margin-bottom: 1rem;
    max-width: 100%;
}

.icon {
    display: inline;
    max-height: 2rem;
    padding: 0;
    margin: 0;
    display: none;
}

.text {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 2rem;
}
